<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <nav id="navigation">
        <div id="logo"> <video src="./media/dollar-search.mp4" autoplay loop muted></video></div>
        <span id="name" class="text"> <h2>Expen&dollar;e&dollar; Tracker</h2></span>
        <a href="login" id="user"><img src="./media/userIcon.gif" alt=""></a>
    </nav>
    <div id="container">
            <div id="image"><img src="./media/expenseTracker.png" alt=""></div>
            <div id="description">
                <h2>Expen<span class="dollar">&dollar;</span>e<span class="dollar">&dollar;</span> Tracker</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa dolor dicta doloremque molestias vel. Totam similique modi illo atque ipsum voluptates quae enim? Illum corporis perspiciatis sed ex, quis atque illo ratione iusto facilis, adipisci provident enim voluptatibus possimus animi mollitia expedita doloremque modi. Earum exercitationem consequatur repellat eveniet illo incidunt accusamus voluptas voluptatum commodi ab. <br> <br> &nbsp; &nbsp; &nbsp; Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum qui fuga adipisci sint hic vitae accusantium error, fugiat, ducimus saepe impedit, quam velit? Distinctio ex molestiae accusamus unde quaerat, maiores error sequi nesciunt consequatur, soluta ad illum sint aspernatur voluptatibus itaque, consequuntur neque odit reprehenderit? Obcaecati dignissimos laudantium nostrum optio quis culpa blanditiis quas saepe?</p>
            </div>
    </div>
    <footer>
        Copyright &copy; 2023 by Irshad Ahemad | All Rights Reserved
    </footer>
</body>
</html>